body {
	font-family: 'Merriweather', serif;
}

#logo {
	height: 80px;
	width: 100px;
}

#line {
	height: 10px;
	width: 100%;
	background-color: #D3FF9B;
}

#water {
	height: auto;
	width: 100%;
	position: relative;
	filter: brightness(70%)
}

#right-hero {
	height: 609.5px;;
	width: 50%;
	background: linear-gradient( #1d1968, #01075e, #020024);
}

#hero-text {
	z-index: 1;
	color: rgb(204, 204, 204);
}

#background {
	height: 97vh;
	background-color: #F7F6F2;
}
#main-items {
	height: 350px;
	width: 100px;
	z-index: 1;
}

.bg-hero {
	background-color: #D3FF9B;
	height: 10px;
	width: 100%;
}
